<data name="field" width="60" height="60">
<% for vegetable in @vegetables -%>
	<vegetable id="<%= vegetable.id %>" type="<%= vegetable.type_id %>" x="<%= vegetable.x %>" y="<%= vegetable.y %>" stage="<%= vegetable.stage %>"/>
<% end -%>
</data>