<data name="field">
<% for vegetable in @vegetables -%>
	<vegetable id="<%= vegetable.id %>" type="<%= vegetable.vtype %>" row="<%= vegetable.row %>" column="<%= vegetable.column %>" stage="<%= vegetable.stage %>"/>
<% end -%>
</data>