<data name="field" x="0" y="0" width="60" height="60">
<% for vegetable in @vegetables -%>
	<vegetable id="<%= vegetable.id %>" type="<%= vegetable.type_id %>" x="<%= vegetable.x %>" y="<%= vegetable.y %>" stage="<%= vegetable.stage %>"/>
<% end -%>
</data>